#main-container{
    display: flex;
}
#side-content {
    width: 30%;
}
#photo-container{
    display: grid;
    width: 70%;
    grid-template-columns: repeat(autoo-fit, minmax(150px, 1fr));
}
 body {
    font-family: Arial, sans-serif;
    margin:0 ;
    padding: 0;
 }

header {
    background-color: black ;
    color: white;
    text-align: center;
    padding: 20px;
}
nav ul {
    
    list-style: none;
   padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

#main-container{
    display:flex ;
    justify-content:space-between ;
    padding: 20px;
}
#side-content{
    width: 30%;
    background-color: grey ;
    padding: 20px;
}
#photo-container{
    display: grid;
    width: 70%;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    gap: 20px;
    padding: 20px;
}
#photo-container img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

